*.lo
*.mod
*.o
*.a
*.so
*.dylib
Makefile.in
config.h.in
configure
build
build_mac
aclocal.m4
autom4te.cache
build-aux
*.swp
defbuild
*~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
config.h
config.log
config.status
configure.doc
stamp-h1
libtool
.deps
*.gz
*.tgz
/.autotools
/.cproject
/.project
/.settings/
doxygen